<bq-app-layout [showMenuOnTop]="true" *ngIf="!tabbedInterface" [stickyFooter]="true" (onTopRightMenuClicked)="handleTopMenuClick($event)">
  <router-outlet></router-outlet>
  <ng-template bqTemplate="footer">
    Hello World
  </ng-template>
</bq-app-layout>
<bq-mdi-app-layout *ngIf="tabbedInterface" (onTopRightMenuClicked)="handleTopMenuClick($event)">
  <router-outlet></router-outlet>
  <ng-template bqTemplate="footer">
    Hello World
  </ng-template>
</bq-mdi-app-layout>
<p-sidebar [(visible)]="sidebarVisible" position="right">
  <h3>Alert Details</h3>
  <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</p-sidebar>
