<?xml version="1.0" encoding="utf-8" ?>
<securityRules>
  <securityRule modelType="IdentityRole" roleName="Admin" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />
  <securityRule modelType="ApplicationUser" roleName="Admin" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />
  <securityRule modelType="Department" roleName="Admin" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />
  <securityRule modelType="Dashboard" roleName="everyone" allowSelect="true" allowInsert="false" allowUpdate="false" allowDelete="false" />

  <securityRule modelType="Customer" roleName="everyone" allowSelect="true" allowInsert="false" allowUpdate="false" allowDelete="false" />
  <securityRule modelType="Customer" roleName="Admin" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />

  <securityRule modelType="Product" roleName="everyone" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />
  <securityRule modelType="Product" roleName="Admin" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />

  <securityRule modelType="Order" roleName="everyone" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />
  <securityRule modelType="Order" roleName="Admin" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />

  <securityRule modelType="OrderLine" roleName="everyone" allowSelect="true" allowInsert="false" allowUpdate="false" allowDelete="false" />
  <securityRule modelType="OrderLine" roleName="Admin" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />

	<securityRule modelType="ConsultantDepartment" roleName="everyone" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />
	<securityRule modelType="ConsultantDepartment" roleName="Admin" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />

	<securityRule modelType="Consultant" roleName="everyone" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />
	<securityRule modelType="Consultant" roleName="Admin" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />

	<securityRule modelType="AppointmentStatus" roleName="everyone" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />
	<securityRule modelType="AppointmentStatus" roleName="Admin" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />

	<securityRule modelType="Appointment" roleName="everyone" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />
	<securityRule modelType="Appointment" roleName="Admin" allowSelect="true" allowInsert="true" allowUpdate="true" allowDelete="true" />
</securityRules>