@import '../projects/bq-start-prime/src/lib/styles/bq-start-prime.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --glow-image: url('/pattern.png');
  --glow-blend: hard-light, multiply;
  --ground-background: var(--p-surface-50);
  --p-toolbar-padding: 0.5rem !important;
}

