@import '../projects/bq-start-prime/src/lib/styles/bq-start-prime.scss';


@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
@tailwind base;
}

@layer tailwind-utilities {
@tailwind components;
@tailwind utilities;
}


:root {
  --glow-image: url('/pattern.png');
  --glow-blend: hard-light, multiply;
  --ground-background: var(--p-surface-50);
}

