<ng-template #expRowTemplate let-row="row">
  <tr>
    <td colspan="5">
      <div>
      Full: {{row.ClassName}}
      </div>
    </td>
  </tr>
</ng-template>

<bq-table [model]='models'
          [metaData]='metaData'
          [tableParams]='tableParams'
          (loadTableData)='onRefreshData()'
          [resizableColumns]='true'
          [loading]='isLoading'
          [showGrid]='true'
          [showStripedGrid]='true'
          [showAddButton]="showAddButton"
          [predefinedFilters]='predefinedFilters'
          [expandedRowTemplate]="expRowTemplate"
          (onRowExpandToggled)="onExpanded($event)"
          [allowRowSelection]="true"
          [expandOnSelection]="true"
          (onRowSelected)="onRowSelected($event)"
          >

  <bq-table-column [field]='metaData.fields.ClassName'></bq-table-column>
  <bq-table-column [field]='metaData.fields.DepartmentId' [cellTemplate]="cellTemplate">
    <ng-template #cellTemplate let-row="row">
      {{row.Department.DepartmentName}}
    </ng-template>
  </bq-table-column>
  <bq-table-column [field]='metaData.fields.ClassDate'></bq-table-column>
  <bq-table-column [field]='metaData.fields.ClassType'></bq-table-column>

  <bq-table-filter [field]='metaData.fields.ClassName' [defaultSearchField]="true"></bq-table-filter>
  <bq-table-filter [field]='metaData.fields.DepartmentId' caption="Department" [itemSource]="departmentList" [displayName]="'DepartmentName'" [valueName]="'Id'"></bq-table-filter>
  <bq-table-filter [field]='metaData.fields.ClassDate' [showTime]="false"></bq-table-filter>
  <bq-table-filter [field]='metaData.fields.ClassType'></bq-table-filter>

</bq-table>

